@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");

body {
  font-family: "Inter", sans-serif;
  width: 940px;
  margin-left: 250px;
}

header h1 {
  color: #3d3d3d;
  background: #e1edf2;
  padding: 10px;
}

#intro {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

section h2 {
  border-bottom: black solid 1px;
}

main figure {
  text-align: center;
  background: whitesmoke;
  color: lightgrey;
  display: flex;
  flex-direction: column;
  margin: 30px; 
}

figure img,
figure figcaption {
  padding: 15px;
}

figure img {
    margin-bottom: 10px;
}

#intro figure {
  width: 550px;
}

#historia figure {
  width: 275px;
  float: right;
}
