@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");

body {
  font-family: "Inter", sans-serif;
}

header h1 {
    color: #3D3D3D;
    background: #E1EDF2;
}

section h2 {
    border-bottom: black solid 1px;
}

main figure {
    text-align: center;
    background: whitesmoke;
    color: lightgrey;
}
